<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @ticket.phone %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @ticket.memo %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket), :class => 'button' %>
<%= link_to 'Back', tickets_path, :class => 'button' %>
