!!!
%html{:lang => "en"}
  %head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="ReFresh Ministries">
    <link href="https://drqkr2smv75b.cloudfront.net/shared/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link rel="apple-touch-icon" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://drqkr2smv75b.cloudfront.net/shared/images/apple-touch-icon-152x152.png">
    %title= "ReFresh Help #{head_page_title}"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
  
  %body{:class => ""}
    - if @parallax == true
      
      %div(class="parallax-background")
        %div(class="intro-text")
          =@parallax_text
      %div(class="parallax-content")
        =yield
      
    - else
      
      = render "layouts/navigation"

      %div{:class => "row"}
        %div(class="medium-12 columns main")
          =yield
      
      %footer
        %p(class="text-center")
          Copyright &copy;2014 ReFresh Ministries - All Rights Reserved
      = javascript_include_tag 'application', 'data-turbolinks-track' => true